In [1]:
import pandas as pd
import numpy as np

In [2]:
new_data = {
    'EmployeeID': np.arange(4,14),
    'Name': ['David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Isabella', 'Jack', 'Kathy', 'Liam', 'Mia'],
    'Department' : ['Software','Data Scientist', 'Product Manager','UX Designer','Data Analyst']*2,
    'Salary' : np.random.randint(60000, 120000, size=10)
}

In [3]:
df = pd.DataFrame(new_data)

In [4]:
df

   EmployeeID      Name       Department  Salary
0           4     David         Software   72938
1           5       Eva   Data Scientist  110274
2           6     Frank  Product Manager  114521
3           7     Grace      UX Designer   84322
4           8    Hannah     Data Analyst  115199
5           9  Isabella         Software   70266
6          10      Jack   Data Scientist  102197
7          11     Kathy  Product Manager  105499
8          12      Liam      UX Designer  119608
9          13       Mia     Data Analyst   81352

In [5]:
df.to_csv('employees.csv', index=False)

In [6]:
df.to_json('employees.json', orient='records', lines=True)

In [7]:
!uv pip install fastavro

Audited 1 package in 6ms

for schema data

In [8]:
import fastavro
from fastavro.schema import load_schema

In [9]:
schema = {
    "type": "record",
    "name": "Employee",
    "fields": [
        {"name": "EmployeeID", "type": "int"},
        {"name": "Name", "type": "string"},
        {"name": "Department", "type": "string"},
        {"name": "Salary", "type": "int"}
    ]
}

In [10]:
records = df.to_dict(orient='records')

In [11]:
with open('employees.avro', 'wb') as out:
    writer = fastavro.writer(out, schema, records)

In [12]:
!uv pip install pyarrow

Audited 1 package in 7ms

In [13]:
df.to_parquet('employees.parquet', index=False)

In [14]:
! uv pip install xmltodict

Audited 1 package in 6ms

In [15]:
df.columns

Index(['EmployeeID', 'Name', 'Department', 'Salary'], dtype='object')

In [16]:
import xml.etree.ElementTree as ET

def df_to_xml(df, filename):
    root = ET.Element("Employees")
    for _, row in df.iterrows():
        employee = ET.SubElement(root, "Employees")
        for field in df.columns:
            child = ET.SubElement(employee, field)
            child.text = str(row[field])
        tree  = ET.ElementTree(root)
        tree.write(filename)
df_to_xml(df, 'employees.xml')

In [19]:
!uv pip install h5py tables

Resolved 16 packages in 2.09s
Downloading tables (6.1MiB)
Downloading blosc2 (2.2MiB)
 Downloading tables
 Downloading blosc2
Prepared 6 packages in 1.53s
Installed 6 packages in 75ms
 + blosc2==3.10.0
 + msgpack==1.1.2
 + ndindex==1.10.0
 + numexpr==2.13.1
 + py-cpuinfo==9.0.0
 + tables==3.10.2

In [20]:
df.to_hdf('employees.h5', key='df', mode='w')